@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

section {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    font-family: "Montserrat", sans-serif;
    letter-spacing: -10px;
    font-size: 6em;     
    color: #000000;
}