@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#inicio {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    min-height: calc(100vh - 85px);
    margin-bottom: 20px;
}
#inicio h1 {
    margin-left: 20px;
    margin-top: 40px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: -7px;
    font-size: 3.5em;     
    color: #000000;
    animation: slideIn 1s ease-out;
}
#inicio .tituloMarcas {
    width: 100%;
    display: flex;
    flex-direction: column;
}
#inicio .tituloMarcas hr {
    margin-top: 20px;
    height: 3px;
    background-color: #000000;
}
#inicio .marcas {
    box-sizing: border-box;
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
#inicio .marcas .marca {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
}
#inicio .marcas .marca img {
    width: 50px;
    height: 50px;
    border-radius: 9999;
}
#inicio .marcas .marca h4{
    align-items: center;
    font-size: 0.7em;
    font-family: "Roboto", sans-serif;
}
#inicio .buttonLink {
    font-family: "Montserrat", sans-serif;
    letter-spacing: -2px;
    font-weight: 400;
    text-decoration: none;
    background-color: #000000;
    color: white;
    font-size: 1.1em;
    margin-top: 10px;
    margin-right: 20px;
    padding: 0 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#inicio .articulos {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
#inicio .articulos .buttonLink {
    align-self: flex-end;
}
#inicio .productos {
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 5px;
    justify-content: space-between;
}
#inicio .productos .producto {
    display: flex;
    width: 32%;
    margin-bottom: 30px;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
#inicio .productos .producto .productoImg {
    position: relative;
}
#inicio .productos .producto .productoImg img{
    height: auto;
    width: 100%;
    border: 1px solid black;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
#inicio .productos .producto .productoImg h6 {
    position: absolute;
    bottom: 8px;
    left: 4px;
    padding: 2px 10px;
    font-size: 0.7em;
    font-weight: 900;
    background-color: #EDE8D0;
    text-align: center;
    font-family: "Roboto", sans-serif;
}
#inicio .productos .producto h3 {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 0.8em;
}
.width100 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dot-wave {
    margin-bottom: 30px;
    --uib-size: 50px;
    --uib-speed: 0.8s;
    --uib-color: #0d0909;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: var(--uib-size);
    height: calc(var(--uib-size) * 0.17);
    padding-top: calc(var(--uib-size) * 0.34);
  }
  
  .dot-wave__dot {
    width: 100%;
    flex-shrink: 0;
    width: calc(var(--uib-size) * 0.17);
    height: calc(var(--uib-size) * 0.17);
    border-radius: 50%;
    background-color: var(--uib-color);
    will-change: transform;
  }
  
  .dot-wave__dot:nth-child(1) {
    animation: jump824 var(--uib-speed) ease-in-out
      calc(var(--uib-speed) * -0.45) infinite;
  }
  
  .dot-wave__dot:nth-child(2) {
    animation: jump824 var(--uib-speed) ease-in-out
      calc(var(--uib-speed) * -0.3) infinite;
  }
  
  .dot-wave__dot:nth-child(3) {
    animation: jump824 var(--uib-speed) ease-in-out
      calc(var(--uib-speed) * -0.15) infinite;
  }
  
  .dot-wave__dot:nth-child(4) {
    animation: jump824 var(--uib-speed) ease-in-out infinite;
  }
  
  @keyframes jump824 {
    0%,
    100% {
      transform: translateY(0px);
    }
  
    50% {
      transform: translateY(-200%);
    }
  }
  